<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="WeixinUrl" value="http://guokun.91linke.com/weixin "/>
    <add key="WeixinToken" value="guokun"/>
    <add key="EncodingAESKey" value="mHRtPuvKl4tgm46KWCMW17DYoaNKfEoPj3DeIQWW0bz"/>
    <add key="WeixinAppId" value="wxd291f0ce7ecc4410"/>
    <add key="WeixinSecret" value="e9cc23ed6ee635ff270bc63794cd610b"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
